*, ::before, ::after
{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body
{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_bg
{
    background-color: mediumslateblue;
    width: 90vw;
    height: auto;
    margin: 2rem 5rem 0rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &>h3{
        color: white;
        font-size: larger;
        display: flex;
        padding-top: 3rem;
    }
}
.inputEtbtn
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    width: 100%;
}

input
{
    width: 70%;
}
button
{
    width: 30%;
    background-color: orange;
}
ul{
    margin: 0;
    padding: 0;
    width: 90vw;
    
}

.listSet
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightcyan;
}
.listSet:nth-child(odd)
{
    background-color: antiquewhite;
}

.fa-check
{
    display: none;
    width: 10%;
    text-align: center;
}
.fa-xmark
{
    display: block;
    width: 10%;
    text-align: center;
}

li
{
    /* display: none; */
    display: flex;
    flex-direction: row;
    list-style: none;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    width: 80%;
    }


