*, ::before, ::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    /* 
        Le display grid permet de construire une grille sur laquelle nous allons placer nos différents éléments.
        表示グリッドを使用すると、さまざまな要素を配置するグリッドを構築できます。
    */
    display: grid;
    /* 
        permet d'indiquer la taille des différentes rangées.
        chaque valeur crée une nouvelle rangée.
        (Si le nombre d'élément dépasse le nombre de case, la grid crée des rangées automatiquement)
            * auto permet de laisser le choix à CSS de la taille. (si il reste de la place, il se la partagera, si tout est prit, il prendra juste ce sont il a besoin pour le contenu de l'élément)
            * 1fr, 1 fraction de la page. Si il n'y a qu'une seule unité fr, elle prendra tout l'espace restant
        La première et troisième ligne, prend juste la taille dont elles ont besoin,
        la seconde, prendra tout le reste

        行のサイズを指定できます。
        各値ごとに新しい行が作成されます。
        (要素数がボックス数を超える場合、グリッドは自動的に行を作成します。)
            * auto を指定すると、CSS がサイズを選択します。(スペースが残っている場合は共有され、すべて使用されている場合は、要素のコンテンツに必要なスペースのみが確保されます。)
            * 1fr は、ページの 1 分の 1 です。fr 単位が 1 つしかない場合は、残りのスペースがすべて使用されます。
        1 行目と 3 行目は必要なサイズのみを使用し、2 行目は残りのスペースをすべて使用します。
    */
    grid-template-rows: auto 1fr auto;
}
main
{
    display: grid;
    grid-template-rows: 20vh auto 200px 100px;
    /* 
        fonctionne comme grid-template-rows mais pour les colonnes
        repeat permet de répéter un nombre de colonne avec la même valeur
            grid-template-rows と同様に動作しますが、列に対して動作します。
            repeat を使用すると、同じ値の列を複数回繰り返すことができます。
    */
    /* grid-template-columns: 15% 15% 15% 15% 15%; */
    grid-template-columns: repeat(5, 15%);
    /* Si les colonnes n'utilisent pas toute la place, permet de les déplacers ou les espacer
        列がすべてのスペースを使用していない場合、列を移動するか、間隔を空けてください。 */
    justify-content: space-evenly;
    /* Par défaut, les éléments enfant se placent sur les cases dans l'ordre d'arrivé
        デフォルトでは、子要素は配置された順序でセルに配置されます。 */
}
main > div:nth-child(1)
{
    background-color: lightgreen;
    /* Indique à quelle colonne l'élément commence 要素がどの列から始まるかを示します */
    grid-column-start: 2;
    /* Indique à quelle colonne (non comprise) l'élément termine 要素が終了する列（含まない）を示します */
    grid-column-end: 5;
    /* De même pour les rangées 行も同様*/
    grid-row-start: 1;
    grid-row-end: 3;
}
main > div:nth-child(2)
{
    background-color: lightblue;
    /* version résumé de grid-column-start / grid-column-end 
    grid-column-start / grid-column-end の要約版*/
    grid-column: 1/2;
    /* De même pour les rows */
    grid-row: 1/3;
}
main > div:nth-child(3)
{
    background-color: lightcoral;
    /* row-start / column-start / row-end / column-end */
    grid-area: 1/5/4/6;
}
main > div:nth-child(4)
{
    background-color: lightseagreen;
    /* span permet d'indiquer un nombre de case plutôt qu'une colonne/row de fin 
        span を使用すると、終了列/行ではなくボックスの数を指定できます。*/
    grid-row: 3/ span 2;
    grid-column: 1/ span 2;
}
main > div:nth-child(5)
{
    background-color: lightgoldenrodyellow;
    /* Volontairement, ou non, nous pouvons empiler les éléments sur les même cases 
        意図的かどうかに関わらず、同じマス目に要素を積み重ねることができます。*/
    grid-row: 2/ span 2;
    grid-column: 2/ span 2;
}